<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudDevPOE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CloudDevPOE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

        body {
            background: repeating-linear-gradient( to right, #b85e75 0%, #b85e75 14.28%, #e76c6a 14.28%, #e76c6a 28.56%, #e18b50 28.56%, #e18b50 42.84%, #3dabc3 42.84%, #3dabc3 57.12%, #2da696 57.12%, #2da696 71.4%, #48c9af 71.4%, #48c9af 85.68%, #0194c4 85.68%, #0194c4 100% );
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">CloudDevPOE</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Home</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("AboutUs", "Home")">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">About Us</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("ContactUs", "Home")">
                    <i class='bx bx-book-alt'></i>
                    <span class="link_name">Contact Us</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("MyWork", "Home")">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="link_name">My Work</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Main", "Home")">
                    <i class='bx bx-line-chart'></i>
                    <span class="link_name">Main</span>
                </a>
            </li>
            <!-- Add more links as needed -->
        </ul>
    </div>
    <section class="home-section">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
