@model CloudDevPOE.ViewModels.ProductDetailsViewModel

@{
	ViewData["Title"] = Model.ProductName;
}

<head>
	<style>
		.product-page {
			display: flex;
			flex-direction: column;
			margin: 15px 0px 0px 0px;
			padding: 10px;
			background-color: darkred;
		}

		.product-details {
			display: flex;
		}

		#product-carousel {
			flex-basis: 55%;

		}

		.carousel-inner {
			position: relative;
			width: 100%;
			padding-bottom: 80%; /* This controls the aspect ratio */
			overflow: hidden;
		}

		.carousel-item {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

			.carousel-item img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 25px;
			}

		.back-link {
			color: darkgray;
			text-decoration: none;
		}

		.back-link::before {
			content: "← ";
		}
	</style>
</head>

<main class="product-page">
	<div class="back-link-container">
		<a href="@Url.Action("MyWork", "Products")" class="back-link">Back to Products Page</a>
	</div>

	<div class="product-details">
		<div id="product-carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				@for (var i = 0; i < Model.ImageUrls.Count; i++)
				{
					<li data-target="#product-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
				}
			</ol>
			<div class="carousel-inner">
				@for (var i = 0; i < Model.ImageUrls.Count; i++)
				{
					<div class="carousel-item @(i == 0 ? "active" : "")">
						<img class="" src="@Model.ImageUrls[i]" alt="Product Image">
					</div>
				}
			</div>
			<a class="carousel-control-prev" href="#product-carousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#product-carousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<div class="product-info">
			<h2>@Model.ProductName</h2>
			<p>@Model.ProductCategory</p>
			<p>@Model.ProductDescription</p>
			<p>@Model.ProductPrice.ToString("C")</p>
		</div>
	</div>
</main>

@section Scripts {
}



