@using CloudDevPOE.ViewModels
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudDevPOE</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CloudDevPOE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animated-background.css" asp-append-version="true" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="~/js/loginSignup.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: repeating-linear-gradient( to right, #b85e75 0%, #b85e75 14.28%, #e76c6a 14.28%,
            #e76c6a 28.56%, #e18b50 28.56%, #e18b50 42.84%, #3dabc3 42.84%, #3dabc3 57.12%, #2da696 57.12%,
            #2da696 71.4%, #48c9af 71.4%, #48c9af 85.68%, #0194c4 85.68%, #0194c4 100% );
            font-family: 'Poppins', sans-serif;
			color: var(--color-dark);
            overflow: hidden;
            height: 100vh;
            width: 100vw;
            min-height: 100vh;
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }

		.navbar {
			position: sticky;
			top: 0;
			z-index: 1000; 
		}

        .main-content {
            -ms-overflow-style: none;
            scrollbar-width: none;
			border: 20px solid var(--color-light);
            width: 85%;
            height: 95%;
			background-color: var(--color-light);
            border-radius: 30px;
            overflow: auto;
            margin: 25px auto;
        }

        .scrollable-content::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body>
    <div id="bg-container">
        <div class="bubbles">
            @* COLUM 1 *@
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>

            @* COLUM 2 *@
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>

            @* COLUM 3 *@
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>

            @* COLUM 4 *@
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>

            @* COLUM 5 *@
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>

            @* COLUM 6 *@
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>

            @* COLUM 7 *@
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>
            <span style="--i:26;"></span>
        </div>
    </div>

	<div class="main-content">
		<nav class="navbar">
			<div class="nav-left">
				<a class="navbar-brand" href="@Url.Action("Index", "Home")">
					<img src="~/images/logos/logo_2.png" alt="Logo of KhumaloCraft Emporium">
				</a>
				<span class="nav-buttons">
					<button class="nav-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
					<button class="nav-link" onclick="location.href='@Url.Action("AboutUs", "Home")'">About Us</button>
					<button class="nav-link" onclick="location.href='@Url.Action("ContactUs", "Home")'">Contact Us</button>
					<button class="nav-link" onclick="location.href='@Url.Action("MyWork", "Products")'">My Work</button>
					<button class="nav-link" onclick="location.href='@Url.Action("AddProduct", "Products")'">Add Product</button>
				</span>
			</div>

			<div class="nav-right">
				<div class="group">
					<svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
						<g>
							<path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
						</g>
					</svg>
					<input placeholder="Search products..." type="search" class="input" id="searchBox">
				</div>

 				@{
					var userDetails = ViewData["UserDetails"] as NavbarViewModel;
				}

				@await Html.PartialAsync("_UserInfo", userDetails)

			</div>
		</nav>
		@await Html.PartialAsync("_LoginSignupForm")
		@RenderBody()
	</div>

	<!-- Azure Cognitive Search JavaScript library -->
	<script src="https://cdn.jsdelivr.net/npm/@@microsoft/azsearch.js@0.0.21/dist/AzSearch.bundle.js"></script>

    <script>
        var mainContent = document.querySelector('.main-content');
        var scrollSpeed = 0.9; // Adjust this value to change the scroll speed
		var disableCustomScroll = false; // Flag to control custom scroll behavior


		document.body.addEventListener('wheel', function (e) {
			if (!mainContent.contains(e.target) && !disableCustomScroll) {
				var to = mainContent.scrollTop + e.deltaY * scrollSpeed;
				mainContent.scrollTop = to;
				e.preventDefault();
			}
		});

		document.addEventListener("DOMContentLoaded", function () {
			var searchBox = document.getElementById("searchBox");

			searchBox.addEventListener("input", function () {
				var query = searchBox.value;
				if (query.length >= 2) {
					fetchSuggestions(query);
				} else {
					clearSuggestions();
				}
			});

			async function fetchSuggestions(query) {
				try {
					let response = await fetch(`/Products/GetSuggestions?query=${query}`);
					if (response.ok) {
						let suggestions = await response.json();
						displaySuggestions(suggestions);
					} else {
						console.error("Failed to fetch suggestions");
					}
				} catch (error) {
					console.error("Error:", error);
				}
			}

			function disableScroll() {
				disableCustomScroll = true; // Disable custom scroll
			}

			function enableScroll() {
				disableCustomScroll = false; // Re-enable custom scroll
			}

			function displaySuggestions(suggestions) {
				clearSuggestions();
				let suggestionsContainer = document.createElement("div");
				suggestionsContainer.className = "suggestions-container";

				// Add event listeners to disable and enable custom scroll
				suggestionsContainer.addEventListener('mouseenter', disableScroll);
				suggestionsContainer.addEventListener('mouseleave', enableScroll);

				suggestions.forEach(suggestion => {
					let suggestionElement = document.createElement("div");
					suggestionElement.className = "suggestion-item";
					suggestionElement.innerHTML = `<h4>${suggestion.name}</h4>
						<p>Category: ${suggestion.category}</p>
						<p>Description: ${suggestion.description}</p>`;
					suggestionElement.addEventListener("click", function () {
						window.location.href = `/Products/ViewProduct?id=${suggestion.id}`;
					});
					suggestionsContainer.appendChild(suggestionElement);
				});

				// Position suggestions under the search box
				var searchBoxRect = searchBox.getBoundingClientRect();
				suggestionsContainer.style.top = (searchBoxRect.bottom + window.scrollY) + "px";
				suggestionsContainer.style.left = searchBoxRect.left + "px";

				document.body.appendChild(suggestionsContainer);
			}


			function clearSuggestions() {
				let suggestionsContainer = document.querySelector(".suggestions-container");
				if (suggestionsContainer) {
					suggestionsContainer.remove();
				}
			}

			searchBox.addEventListener("keydown", function (event) {
				if (event.key === "Enter") {
					window.location.href = `/Products/MyWork?search=${searchBox.value}`;
				}
			});
		});

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
