@model CloudDevPOE.ViewModels.UserViewModel

@if (Model != null)
{
	<div class="welcome-message">Welcome, @Model.Name</div>
	<div class="user-dropdown">
		<i class='bx bx-user bx-icon'></i>
		<div class="user-dropdown-menu">
			<a href="@Url.Action("Account", "User")">Account</a>
			<a href="@Url.Action("Logout", "User")">Logout</a>
		</div>
	</div>
	<div class="bx-icon" onclick="location.href='@Url.Action("Cart", "Shop")'">
		<i class='bx bx-cart'></i>
		<span class="cart-badge">@Model.CartSize</span>
	</div>
}
else
{
	<div class="user-dropdown">
		<i class='bx bx-user bx-icon'></i>
		<div class="user-dropdown-menu">
			<a href="#" onclick="showLoginModalAndSubmitForm(); return false;">Login</a>

		</div>
	</div>
	<div class="bx-icon" onclick="location.href='@Url.Action("Cart", "Shop")'">
		<i class='bx bx-cart'></i>
	</div>
}

