@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
    int? userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");
}

<head>
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/flex-layout.css" asp-append-version="true" />
    <style>
        .logo {
            width: auto;
            height: 450px;
        }

        #mainContentColumn {
            padding-top: 15px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 15px;
            text-align: center;
            gap: 30px;
        }

        #row2 {
            background-color: #FF9999;
            padding: 15px;
            border-radius: 25px;
            height: 100%;
            box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
        }

        .btn-primary {
            background-color: #0d181c; /* Change the background color */
            color: #ffffff; /* Change the text color */
            border: none; /* Remove the border */
            padding: 10px 20px; /* Add some padding */
            text-align: center; /* Center the text */
            text-decoration: none; /* Remove underline */
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s; /* Add transition */
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: #ffffff; /* Change the background color on hover */
                color: #0d181c; /* Change the text color on hover */
            }


        .slideshow {
            width: 100%;
            height: 350px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }

            .slideshow img {
                max-width: 100%;
                max-height: 350px;
                position: absolute;
                opacity: 0;
                transition: opacity 2s;
                border-radius: 15px; /* Round the edges */
            }

                .slideshow img.active {
                    opacity: 1;
                }
    </style>
</head>

<main id="mainContentColumn" class="contentColumn">

    @if (userId != null)
    {
        <p>User ID: @userId</p>
    }
    else
    {
        <p>User ID: Not logged in</p>
    }

    <a href="@Url.Action("Logout", "User")">Logout</a>
    

    <div class="rowContent">
        <div id="box1" class="box">
            <div style="max-width: 900px;margin: 0 auto;">
                <h1>Welcome to KhumaloCraft Emporium</h1>
                <img class="logo" src="~/images/logos/logo_3.png" alt="KhumaloCraft Emporium logo">
            </div>
        </div>
    </div>

    <div id="row2" class="rowContent">
        <div class="box" style="display:flex; flex-direction: column; padding-right: 20px;">
            <div style="max-width: 900px;margin: 0 auto;">
                <h2>Discover the Artistry</h2>
            </div>

            <div style="display: flex;flex-direction:column; max-width: 900px; justify-content: center; height: 100%;">
                <p>
                    Explore our handcrafted treasures, meticulously crafted
                    by artisans from around the world. From vibrant textiles
                    to elegant ceramics, each piece tells a story. Dive into
                    our gallery and immerse yourself in the beauty of KhumaloCraft.
                </p>
                <a href="@Url.Action("MyWork", "Home")" class="btn btn-primary">Shop Now</a>

            </div>
        </div>

        <div class="slideshow">
            <img src="@Url.Content("https://cdn.shopify.com/s/files/1/0836/2769/files/hands-clay-pottery_600x600.jpg?v=1671439611")" class="active">
            <img src="@Url.Content("https://www.jackspaint.co.za/images/blog/Woodwork.jpg")">
            <img src="@Url.Content("https://www.thesprucecrafts.com/thmb/TJt0u47H9d6wdajgPvRzW_Ne3sA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-922707682-5b90467bc9e77c0025931eef.jpg")">
            <!-- Add more images as needed -->
        </div>
    </div>
</main>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script>
        var slideIndex = 0;
        var slides = document.querySelectorAll('.slideshow img');
        function showNextSlide() {
            slides[slideIndex].classList.remove('active');
            slideIndex = (slideIndex + 1) % slides.length;
            slides[slideIndex].classList.add('active');
        }
        setInterval(showNextSlide, 8000); // Change slide every 8 seconds
    </script>
}
